<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ResolucaoServlet</servlet-name>
        <servlet-class>com.mycompany.programacao.linear.servlets.ResolucaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GLPKServlet</servlet-name>
        <servlet-class>GLPKServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelagemServlet</servlet-name>
        <servlet-class>com.mycompany.programacao.linear.servlets.ModelagemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResolucaoServlet</servlet-name>
        <url-pattern>/resolucao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelagemServlet</servlet-name>
        <url-pattern>/modelar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
